@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --off-black: #191919;
  --accent-color: #7c0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
*:is(a, li) {
  text-decoration: none;
  list-style: none;
}
*::-webkit-scrollbar {
  width: 0px;
}

body {
  overflow-x: hidden;
  background-color: var(--off-black);
}

/* -------------------------- Header --------------------------*/
header h2 {
  font-size: 24px;
  color: var(--accent-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h2::after {
  content: "";
  width: 110%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  border-radius: 200px;
}
header .nav-main {
  padding: 24px;
}
header .nav-main h2 {
  font-size: 30px;
}
header .nav-main ul {
  gap: 30px;
}
header .burger {
  height: 36px;
  width: 44px;
  z-index: 20;
  align-items: flex-end;
  overflow: hidden;
  transition: all ease-in-out 250ms;
  opacity: 0.7;
}
header .burger:hover {
  opacity: 1;
}
header .burger-nav {
  background: var(--accent-color);
  transition: ease-in-out all 850ms;
  transform: translateX(100%);
  z-index: 10;
}
header .burger-nav ul {
  gap: 18px;
}
header .burger-nav .home-icon::before {
  content: "\f015";
  font-family: "FontAwesome";
  font-size: 0px;
  margin-right: 15px;
  transition: all 300ms ease-in-out;
}
header .burger-nav .about-icon::before {
  content: "\f007";
  font-family: "FontAwesome";
  font-size: 0px;
  margin-right: 15px;
  transition: all 300ms ease-in-out;
}
header .burger-nav a {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  opacity: 0.5;
  position: relative;
}
header .burger-nav a::after {
  content: "";
  height: 5px;
  width: 0%;
  background-color: #fff;
  border-radius: 16px;
  bottom: 0;
  right: 0;
  transition: all ease-in-out 350ms;
  transform: translateY(175%);
  position: absolute;
}
header .burger-nav a:hover {
  opacity: 1;
}
header .burger-nav a:hover:before {
  color: #fff;
  text-align: center;
  font-size: 32px;
}
header .burger-nav a:hover::after {
  width: 100%;
}
header .burger .bar {
  height: 6px;
  border-radius: 16px;
  background-color: #fff;
  transition: all ease-in-out 300ms;
}
header .burger :nth-child(1) {
  width: 95%;
}
header .burger :nth-child(2) {
  width: 70%;
}
header .burger :nth-child(3) {
  width: 45%;
}
header .burger:hover .bar {
  width: 100%;
}
header .cross {
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  position: fixed;
  right: 24px;
  opacity: 0.5;
}
header .cross .bar {
  background-color: #fff;
}
header .cross :nth-child(1) {
  width: 100%;
  transform: translateY(250%) rotate(45deg);
}
header .cross :nth-child(2) {
  width: 100%;
  opacity: 0;
  transform: translateX(-100%);
}
header .cross :nth-child(3) {
  width: 100%;
  transform: translateY(50%) rotate(-45deg);
}
header .active-nav {
  transform: translateX(0%);
}

/* -------------------------- Footer --------------------------*/
footer {
  min-height: 40svh;
  background-color: var(--off-black);
  color: #fff;
  padding: 60px 40px 40px;
}
footer .footer-links {
  gap: 70px;
  margin-top: 50px;
}
footer .logo {
  gap: 8px;
}
footer h2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
}
footer h2::after {
  content: "";
  width: 110%;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  border-radius: 200px;
}
footer h3 {
  color: var(--accent-color);
  font-size: 20px;
  margin-top: 12px;
}
footer h4 {
  color: var(--accent-color);
  margin-top: 16px;
}
footer li {
  margin-top: 10px;
}
footer li a {
  color: #fff;
  opacity: 0.5;
  transition: all ease-in-out 250ms;
  position: relative;
}
footer li a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: #fff;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 250ms;
  transform: translateY(200%);
  position: absolute;
}
footer li a:hover {
  opacity: 1;
  color: #fff;
}
footer li a:hover::after {
  width: 100%;
}
footer .copy-right {
  margin-top: 60px;
  font-size: 12px;
  opacity: 0.4;
  text-align: right;
}

/* -------------------------- Landing Page --------------------------*/
.hall {
  padding: 175px 40px 40px;
  color: #fff;
  width: 75%;
  margin-inline: auto;
}
.hall h1 {
  font-size: 60px;
  text-align: center;
}
.hall h3 {
  font-size: 70px;
  opacity: 0.1;
}
.hall p {
  font-weight: 500;
  font-size: 16px;
}
.hall .timeline {
  width: 4px;
  background-color: #fff;
  height: 100%;
  border-radius: 16px;
}
.hall-people {
  margin-top: 80px;
  gap: 80px;
}
.hall-person {
  margin-top: 70px;
}
.hall .circle {
  height: 26px;
  border-radius: 200px;
  border: solid 4px #fff;
  background-color: var(--off-black);
}
.hall .ase .circle {
  transform: translateX(-50%);
}
.hall .ass .circle {
  transform: translateX(50%);
}

.hero {
  color: #fff;
}
.hero h1 {
  font-size: 70px;
}

.about {
  padding: 60px 40px;
  min-height: 80svh;
  gap: 60px;
  background-color: #fff;
  scroll-snap-align: center;
}
.about-txt {
  width: 45%;
}
.about-more {
  font-size: 18px;
  color: var(--off-black);
  font-weight: 500;
  transition: all ease-in-out 250ms;
}
.about-more::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--off-black);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(150%);
  transition: all ease-in-out 300ms;
}
.about-more:hover {
  opacity: 0.8;
}
.about-more:hover::after {
  width: 0%;
}
.about h2 {
  font-size: 60px;
}
.about p {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 20px;
  opacity: 0.6;
}

/* -------------------------- Utility Classes --------------------------*/
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.row-r {
  flex-direction: row-reverse;
}

.col {
  flex-direction: column;
}
.col-r {
  flex-direction: column-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.jcc {
  justify-content: center;
}
.jcb {
  justify-content: space-between;
}
.jca {
  justify-content: space-around;
}
.jce {
  justify-content: space-evenly;
}
.jcstart {
  justify-content: flex-start;
}
.jcend {
  justify-content: flex-end;
}

.aic {
  align-items: center;
}
.ais {
  align-items: start;
}
.aie {
  align-items: end;
}

.asc {
  align-self: center;
}
.ass {
  align-self: flex-start;
}
.ase {
  align-self: flex-end;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.l-0 {
  left: 0;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100svh;
}

.svh-100 {
  height: 100svh;
}

.lvh-100 {
  height: 100lvh;
}

.min-vh-100 {
  min-height: 100vh;
}

.min-svh-100 {
  min-height: 100svh;
}

.min-lvh-100 {
  min-height: 100lvh;
}

.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

.square {
  aspect-ratio: 1;
}

.obj-fit-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.obj-fit-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.obj-fit-fit-fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.t-bold {
  font-weight: bold;
}
.t-upper {
  text-transform: uppercase;
}
.t-lower {
  text-transform: lowercase;
}
.t-capitalize {
  text-transform: capitalize;
}

.hidden {
  display: none;
  transition: 500ms;
}/*# sourceMappingURL=stylesheet.css.map */